moon.mod text eol=lf
moon.pkg text eol=lf
*.mbt text eol=lf
*.mbti text eol=lf
*.json text eol=lf
*.sha256 text eol=lf
*.md text eol=lf
*.mbt.md text eol=lf
LICENSE* text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf
*.winmd binary
*.c text eol=lf working-tree-encoding=UTF-8
*.h text eol=lf working-tree-encoding=UTF-8
